* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #f3f3f3;
}

h1 {
  text-align: left;
  font-size: 29px;
  margin-left: 0;
}

.container {
  font-family: "Winky Sans", sans-serif;
  text-align: left;
  max-width: 400px;
  background-color: #1e1e1e;
  padding: 1.2rem;
  align-items: center;
  margin: 0;
  border-radius: 1px;
  box-shadow: 0 0 0px rgba(255,255,255,0.1);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  text-align: center;
}

button,
.btn {
  width: 100%;
  padding: 13px;
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  border-radius: 18px;
  background-color: rgba(65,65,65,0.5);
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

button {
  border-radius: 40px;
  padding: 10px;
  margin-top: 13px;
}

#myButton.touched {
  background-color: rgba(70,70,70,0.8);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(0px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-box {
  background: #222;
  padding: 1.2rem;
  border-radius: 7px;
  max-width: 80%;
  width: 300px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  position: relative;
}

.alert-box h3 {
  margin: 0 0 4px 5px;
  text-align: center;
  font-weight: bold;
  color: red;
}

.alert-box .input,
.alert-box input {
  width: 100%;
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1px;
  margin: 5px 1px;
}

.alert-box .input {
  margin: 14px 15px;
  border-bottom: 1.5px solid #999;
}

.alert-box input:focus {
  outline: none;
}

.alert-actions {
  display: flex;
  justify-content: space-between;
}

.alert-actions button {
  flex: 1;
  margin: 15px 5px;
  background-color: rgba(65,65,65,0.5);
}

.alert-icon {
  color: #f44336;
  font-size: 0.9rem;
  font-weight: 500;
  margin: -10px 0 10px 15px;
  text-align: left;
}

.error-message {
  color: #f44336;
  font-size: 0.9rem;
  margin-top: 10px;
}

.scale-in {
  opacity: 0;
  transform: scale(0.6);
  animation: scaleIn 0.15s ease forwards;
}

.scale-out {
  opacity: 1;
  transform: scale(1);
  animation: scaleOut 0.2s ease forwards;
}

@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s;
}

.formcontainer {
  background-color: #1e1e1e;
  padding: 6px 20px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(28,134,238,1);
  width: 80% !important;
  border: 2px solid #2a2a2a;
  margin: 10px auto;
  color: #fff;
  transition: all 0.3s ease;
}

.formcontainer h2 {
  text-align: center;
  margin: 18px 0 2.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  color: #A569FF;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1rem;
}

.input-group input {
  width: 100% !important;
  padding: 10px 0 10px 11px;
  background: #2d2d2d;
  border: none;
  border-radius: 6px;
  color: #f1f1f1;
  font-size: 1rem;
  outline: none;
  transition: background 0.3s ease;
}

.input-group input::placeholder {
  color: #bbb;
}

.input-group input:focus {
  background: #3a3a3a;
}

textarea {
  width: 90%;
  padding: 10px 14px;
  background-color: #2d2d2d;
  color: #f1f1f1;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  resize: none;
  outline: none;
  transition: background 0.3s ease;
}

textarea::placeholder {
  color: #aaa;
}

textarea:focus {
  background-color: #3a3a3a;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  background-color: #2d2d2d;
  color: #ccc;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

input[type="file"]::file-selector-button {
  background: #444;
  border: none;
  padding: 8px 15px;
  color: #f1f1f1;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background: #555;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  border-radius: 50%;
  background-color: #000;
  border: 1.7px solid #999;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #999;
}

.btnn {
  width: 100%;
  padding: 10px;
  background-color: #2d2d2d;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 140px);
  gap: 10px;
  margin: 0 auto 25px;
  width: max-content;
}

.image-grid img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.signin-link {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signin-link a {
  color: #00bfff;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

::selection {
  background-color: brown;
  color: white;
}

/* Media Query */
@media only screen and (max-width: 390px) {
  .formcontainer {
    background-color: #1b1b1b;
    padding: 6px 21px 20px;
    border: 0;
    width: 90% !important;
    margin-left: -6px;
  }

  .input-group input {
    width: 86% !important;
    padding-left: 36px;
  }

  .btnn {
    background-color: #2d2d2d;
  }
}